.header {
    &-top {
        padding: 14px 0 9px 0;
        height: 68px;
        width: 100%;
        border-bottom: 1px solid $main-color;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__left {
            display: flex;
            align-items: center;
        }
        &__logo {
            display: block;
            width: 159px;
            margin-right: 10px;
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        }
        &__descr {
            width: 185px;
            padding: 0 8px;
            font-size: 14px;
            line-height: 110%;
            color: $black;
            border-left: 2px solid $main-color;
        }
        &__right {
            display: flex;
            align-items: center;
            color: $light-gray;
            font-size: 15px;
            line-height: 120%;

        }
        &__time {
            width: 265px;
            margin-right: 61px;           
            text-align: right;
            font-size: inherit;
            span {
                font-size: 16px;
                line-height: 130%;
                color: $black;
                i {
                    color: $main-color;
                }
            }
            
        }
        &__phone {
            width: 251px;
            margin-right: 24px;
            font-size: inherit;
            text-align: right;
        }
        &__btn {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            font-size: 24px;
            color: $black;

        }
    }
    &-bottom {
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 620px;
            margin: 0;
            padding: 0;

        }
        &__item {
            list-style-type: none;
            a {
                text-decoration: none;
                font-size: 16px;
                color: $black;
                transition: all 0.3s;
                &:hover {
                    color: $light-gray;
                }
            }
            i {
                color: $main-color;
            }
        }
        &__orders {
            display: flex;
            align-items: center;
            height: 100%;
            .form-search {
                position: relative;
                margin-right: 21px;
                input {
                    width: 312px;
                    height: 36px;
                    border: 1px solid #FEC80B;
                    box-sizing: border-box;
                    border-radius: 40px;
                    outline: none;
                    padding-left: 15px;
                    background-color: #fff !important;
                }
                //убираем крестик внутри input
                input::-webkit-search-decoration,
                input::-webkit-search-cancel-button,
                input::-webkit-search-results-button,
                input::-webkit-search-results-decoration { display: none; }

                &__button {
                    position: absolute;
                    right: 16px;
                    top: 2px;
                    border: none;
                    background: none;
                    color: $black;
                    font-size: 21px;
                    font-weight: 100;
                    transition: all 0.3s;
                    &:hover {
                        color: $light-gray;
                    }
                }
            }
            
            a {
                display: block;
                width: 35px;
                &:nth-child(2) {
                    margin-right: 28px;
                }
                img {
                   height: 30px;
                   transition: all 0.3s;
                }
                &:hover {
                    img {
                        height: 35px;
                     }
                }
            }
        }
        &__btn {
            width: 138px;
            height: 42px;
            span {
                margin-right: 16px;
                color: $black;
                i {
                    color: $black;
                }
            }
        }
    }
    
}